{% extends 'visit/template.html' %}
{% block content %}
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col">
                
            </div>
            <div class="col">
                <div class="row">
                    <h4 class="ms-5 text-left">Welcome to the Memory Book Signing Page for {name}</h4>
                <br>
                </div>
                <div class="row">
                    <h1 class="ms-5 text-left" style="font-size: 4vw;">ADD YOUR MESSAGE</h1>
                </div>
                <br><br>
                <button class="btn btn-info pull-left btn-lg p-3">Next Prompt</button>
            </div>
        </div>
    </div>
{% endblock content %}