{% extends 'visit/template.html' %}
{% block content %}
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col">
                <div class="" style="height: 60%">
                    <br /><br />
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                         
                        </ol>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img class="d-block w-100" src="{{step2.cover_pic.url}}" alt="First slide">
                          </div>
                          <div class="carousel-item">
            
                            <div style="margin-top: 50px;">
                              <h1>Message about {{step2.firstname}}</h1>
                            <h4>{{msg1.msg}}</h4>
                            <h4>{{msg1.msg}}</h4>
                        </div>
                          </div>
                         
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                  </div>
            </div>
            <div class="col">
                <div class="row mt-5">
                    <h1 class="ms-5 text-left" style="font-size: 4vw;">DONE!</h1>
                </div>
                <div class="row">
                    <h4 class="ms-5 text-left">Your messages have been sent. Now go make your own!</h4>
                <br>
                </div>
                <br><br>
                <div class="row">
                    <h4 class="ms-5 text-left">With Memory Book, you create your own special book for someone. You can make it for any ocassion. It's the most meaningful, perfect gift for your loved ones!</h4>
                <a href="{% url 'landing_page' %}" class="btn btn-info pull-left btn-lg p-3 mt-3">Get Started</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}