{% extends 'create/template.html' %} {% block content %}
<div class="container">

  <br /><br />
  <div class="row">
    <div class="col-lg-6">
      <div class="border" style="height: 80%">
        <br /><br />
        <h1>{{occasion.event}} {{step2.firstname}}</h1>
        <div>
          <img src="{{step2.cover_pic.url}}" alt="coverpic" width="400" />
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div>
        <br /><br />
        <h1>Wellcome Back {{step2.firstname}}</h1>

       <div class="row mx-auto mt-5">
           <div class="col-sm-4 border ml-5" style="margin-left: 40px;height: 100px;">
               <p class="mt-3"><b>0</b> <br>Signature</p>
           </div>

           <div class="col-sm-4 border ml-4" style="height: 100px;">
            <p class="mt-3"><b>{{timeleft.days}}</b> <br>Days left</p>
        </div>

        <hr/>
       </div>
     
       <div class="row mx-auto mt-5">
        <div class="col-sm-4 ml-5" style="margin-left: 40px;height: 100px;">
            <p class="mt-3"><b>Siging End Date</b> <br>{{step2.dead_line}}</p>
        </div>

        <div class="col-sm-4 ml-4" style="height: 100px;">
         <p class="mt-3"><b>Shareable Link</b> <br> <input type="text" placeholder="www.//" value={{s_link}}{{occasion.event}}/{{occasion.id}}></p>
     </div>


     <div class="row mx-auto mt-5">
        <div class="col-sm-4 ml-5" style="margin-left: 40px;height: 100px;">
            <button class="btn btn-info" class="col-sm-10">Download my Page</button>
        </div>
       
        <div class="col-sm-4 ml-3" style="margin-left: 40px;height: 100px;">
          <a onclick="myFunction()" href="{% url 'delete' %}" class="btn btn-danger" class="col-sm-10">Delete my Page</a>
      </div>
      <br>

      <div class="col-sm-4 ml-3" style="margin-left: 40px;height: 100px;">
        <a  href="{% url 's_link' occasion.event occasion.id %}" class="btn btn-info" class="col-sm-10">Next</a>
    </div>

       
        </div>
    


     

    </div>

    <!-- <div class="col">
      <h1 class="ms-5" style="font-size: 4vw">SUCCESS! TIME TO SHARE</h1>
      <br />
      <h1 style="font-size: 2.5vw">
        Copy the link below and share it with trusted friends and family for
        them to add messages to your pages.
      </h1>
      <br />
      <h5>Shareable Link <b>(DO NOT share publicly)</b></h5>
      <div class="input-group mb-3">
        <button
          type="text"
          class="form-control"
          placeholder="link here"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
        >
          https://linktothesigningpage
        </button>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">COPY</button>
        </div>
      </div>
      <h5>
        <b
          >To prevent any unwanted comments, only share to those whom you
          trust!</b
        >
      </h5>
      <br />
      <h5 class="pull-left">Notification Prefrences</h5>
      <div class="form-check pull-left">
        <input
          class="form-check-input"
          type="radio"
          name="exampleRadios"
          id="exampleRadios1"
          value="option1"
          checked
        />
        <label class="form-check-label" for="exampleRadios1">
          I want a notification email each time someone added a message
        </label>
      </div>
      <div class="form-check pull-left">
        <input
          class="form-check-input"
          type="radio"
          name="exampleRadios"
          id="exampleRadios2"
          value="option2"
        />
        <label class="form-check-label" for="exampleRadios2">
          I only want a notification email when the memory book's deadline is
          today and it's finished
        </label>
      </div>
      <br /><br /><br />
      <a href="{% url 'one' %}">Click Here to Create your Own Memory Book!!</a>
    </div> -->
  </div>
</div>

<script>
  function myFunction(){
    alert('Do you want to Delete this Page ?')
  }

</script>

</script>

{% endblock content %}

