{% extends 'create/template.html' %}
{% block content %}
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col">
                
            </div>
            <div class="col">
                <div class="row">
                    <h4 class="ms-5 pull-left bg-gray">WELCOME BACK!</h4>
                <br>
                </div>
                <div class="row">
                    <h1 class="ms-5 pull-left"> {NAME}</h1>
                </div>

                <br>
                <br>
                <div class="row">
                    <div class="col">
                        <h5>Signing Deadline</h5>
                        <div class="form-group row">
                            <div class="col-12 ">
                              <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col">
                        <h5>Shareable Link </h5>
                        <div class="input-group mb-3">
                            <button type="text" class="form-control" placeholder="link here" aria-label="Recipient's username" aria-describedby="basic-addon2">https://link</button>
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary" type="button">COPY</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="button " class="btn btn-primary m-3 p-3">Download My Pages <i class="fas fa-print"></i></button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-danger m-3 p-3"><i class="fas fa-trash"></i> Delete My Pages</button>
                    </div>
                </div>
                <br><br>

                <h5 class="pull-left">Notification Prefrences</h5>
                <br><br>
                <div class="form-check pull-left">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                    I want a notification email each time someone added a message
                    </label>
                  </div>
                  <br>
                  <div class="form-check pull-left">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                      I only want a notification email when the memory book's deadline is today and it's finished
                    </label>
                  </div>
            </div>
        </div>
    </div>
{% endblock content %}